@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis/Dosis-Regular.eot');
  src: url('../fonts/Dosis/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Dosis/Dosis-Regular.woff2') format('woff2'),
  url('../fonts/Dosis/Dosis-Regular.woff') format('woff'),
  url('../fonts/Dosis/Dosis-Regular.ttf') format('truetype'),
  url('../fonts/Dosis/Dosis-Regular.svg#Dosis-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis/Dosis-Bold.eot');
  src: url('../fonts/Dosis/Dosis-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Dosis/Dosis-Bold.woff2') format('woff2'),
  url('../fonts/Dosis/Dosis-Bold.woff') format('woff'),
  url('../fonts/Dosis/Dosis-Bold.ttf') format('truetype'),
  url('../fonts/Dosis/Dosis-Bold.svg#Dosis-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}